{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
  <h1>メニュー</h1>
{% endblock header %}

{% block content %}
<div class="container">
  <a href="{% url 'notification' %}">
    <div class="alert alert-success" role="alert">通知</div>
  </a>
  <a href="{% url 'project' %}">
    <div class="alert alert-success" role="alert">案件管理</div>
  </a>
  <a href="{% url 'member' %}">
    <div class="alert alert-success" role="alert">メンバー管理</div>
  </a>
  <a href="{% url 'working_time' %}">
    <div class="alert alert-success" role="alert">稼働実績</div>
  </a>
</div>
{% endblock content %}
