{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<h1>案件リソース管理</h1>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p>{{ project.name }} [{{ project.start_date }} - {{ project.end_date }}] {{ project.phase }}</p>
  </div>
  <!-- {% for member in member_list %}
  {{ member.username }}
  {% endfor %} -->
  {% for monthly_working_time in monthly_working_time_list %}
  {{ monthly_working_time.target_month }}
  {% endfor %}

  {% for project_month in project_month_list %}
  {{ project_month }}
  {% endfor %}

  {% endblock content %}
</div>
