{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<h1>案件リスト</h1>
{% endblock header %}

{% block content %}
<div class="container">
  {% for project in project_list %}
  <div class="alert alert-success" role="alert">
    <p>{{ project.name }} [{{ project.start_date }}-{{ project.end_date }}] {{ project.phase }}</p>
    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary btn active" role="button" aria-pressed="true">詳細</a>
    <a href="{% url 'project_resource' project.pk %}" class="btn btn-primary btn active" role="button" aria-pressed="true">リソース管理</a>
  </div>
  {% endfor %}
  <a href="{% url 'project_add' %}" class="btn btn-primary btn active" role="button" aria-pressed="true">追加</a>
</div>
{% endblock content %}
